.zag-small{
    font-size: 20px;
    background-color: #efc82b;
    padding: 15px 15px;
    width: 230px;
    border-radius: 15px;
}
.btn-primary-cust{
    background-color: #efc82b ;
    border: 2px solid #efc82b;
    border-radius:100px ;
    color: white;
}
.btn-primary-cust:hover{
    background-color:#efc82b ;
    border:2px solid #efc82b  ;
    border-radius:100px ;
    color: white;
}
.btn-outline-primary{
    background-color: #efc82b ;
    border: 2px solid #efc82b;
    border-radius:100px ;
    color: white;
}
.btn-outline-primary:hover{
    background-color: #efc82b ;
    border: 2px solid #efc82b;
    border-radius:100px ;
    color: white;
    
}
.gr{
    background:linear-gradient(90deg, #eaf28f,#cde8b5,#fff2d5,#f7fadb);
}
.yt{
    background:linear-gradient(90deg, #eaf28f,#cde8b5,#fff2d5,#f7fadb);
}
body{
    background:linear-gradient(90deg, #eaf28f,#cde8b5,#fff2d5,#f7fadb)
}
.card{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.but{
    background-color: #efc82b ;
    border: 2px solid #efc82b;
    border-radius:100px ;
    color: white
}
.butt{
    background-color: #efc82b;
    border: 2px solid #efc82b;
    border-radius:100px;
    color: white
}
.shh{
    border-radius: 200px;
}
.zp{
    border-radius: 100px 100px 20px 20px;
}
.dishes-img{
    border-radius: 100px 100px 0px 0px;
}
.pl{
    border-radius: 100px 100px 20px 20px;
}
.pel-img{
    border-radius: 100px 100px 20px 20px;
}
.cz{
    border-radius: 100px 100px 20px 20px;
}
.cez-img{
    border-radius: 100px 100px 20px 20px;
}
.kre{
    border-radius: 100px 100px 20px 20px; 
}
.kre-img{
    border-radius: 100px 100px 20px 20px;
}
.sha{
    border-radius: 100px 100px 20px 20px;
}
.sha-img{
    border-radius: 100px 100px 20px 20px;
}
.sp{
    border-radius: 100px 100px 20px 20px;  
}
.sp-img{
    border-radius: 100px 100px 20px 20px;
}
.sh{
    border-radius: 100px 100px 20px 20px;
}
.sh-img{
    border-radius: 100px 100px 20px 20px;
}
.kt{
    border-radius: 100px 100px 20px 20px;
}
.kt-img{
    border-radius: 100px 100px 20px 20px;
}
.bl{
    border-radius: 100px 100px 20px 20px;
}
.bl-img{
    border-radius: 100px 100px 20px 20px;
}
.bt{
    border-radius: 200px;
}